<div class="container">
  <hr class="solid">
  <br>
  <h2>Basic Example with HTML Output:</h2>
  <angular-editor id="editor1" [(ngModel)]="htmlContent1" autofocus="true" [config]="config1" (ngModelChange)="onChange($event)" (blur)="onBlur($event)">
    <ng-template #customButtons let-executeCommandFn="executeCommandFn">
      <ae-toolbar-set>
        <ae-button iconClass="fa fa-html5" title="Angular editor logo" (buttonClick)="executeCommandFn('insertHtml', angularEditorLogo)"></ae-button>
      </ae-toolbar-set>
    </ng-template>
  </angular-editor>
  <p class="html">HTML Output:</p>
  <div id="html-content-editor1" class="html-demo-content">{{ htmlContent1 }}</div>
  <br>
  <br>
  <hr class="solid">
  <br>
  <h2>Using Form Validation:</h2>
  <form [formGroup]="form">
    <angular-editor [id]="'editor2'" [config]="config2" [style.width]="'100px'" formControlName="signature" (ngModelChange)="onChange2($event)"></angular-editor>
  </form>
  <div>
    Form Value: 
    <br>
    <div id="html-content-editor2" class="html-demo-content">{{ form.value.signature }}</div>
  </div>
  <p>
    Form Status: <span [style.color]="form.status === 'INVALID' ? 'red': 'green'"><b>{{ form.status }}</b></span>
  </p>
  <br>
  <br>
</div>
<hr class="solid" style="margin: 0 60px;">
<div style="max-width: 80%;display: flex;align-items: center;flex-direction: column;justify-content: center;padding: 0 220px;">
  <br>
  <h2 style="width: 100%;">Input Configs Example and values:</h2>
  <table>
    <tr>
      <th colspan="2">Editor Configs</th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Example Value</th>
    </tr>
    <ng-container *ngFor="let conf of config3 | keyvalue; index as i;">
      <tr>
        <td><span style="font-weight: bold;">{{conf.key}}</span></td>
        <td *ngIf="isObject(conf.value); else elseTableBlock"><pre>{{conf.value | json}}</pre></td>
        <ng-template #elseTableBlock><td>{{conf.value}}</td></ng-template>
      </tr>
    </ng-container>
  </table>
  <br>
</div>
<hr class="solid" style="margin: 0 60px;">
<div style="margin: 0 60px;">
  <br>
  <h2 style="width: 100%;">Play with the configs:</h2>
  <div style="display: flex;flex-direction: column;align-items: center;">
    <div style="width: 80%;margin-bottom: 20px;">
      <angular-editor [(ngModel)]="htmlContent3" [id]="'editor3'" [config]="config4" [style.width]="'100px'" (ngModelChange)="onChange3($event)"></angular-editor>
    </div>
    <div hidden id="html-content-editor3" class="html-demo-content">{{ htmlContent3 }}</div>
    <div>
      <table>
        <tr>
          <th>Name</th>
          <th>Value</th>
        </tr>
        <ng-container *ngFor="let conf of config3 | keyvalue; index as i;">
          <tr *ngIf="getTypeofVariable(conf.value) !== 'object';">
            <td><span style="font-weight: bold;">{{conf.key}}</span></td>
            <td *ngIf="getTypeofVariable(conf.value) !== 'boolean'"><input [(ngModel)]="config4[conf.key]"></td>
            <td *ngIf="getTypeofVariable(conf.value) === 'boolean'"><input type="checkbox" [(ngModel)]="config4[conf.key]"></td>
          </tr>
        </ng-container>
      </table>
    </div>
  </div>
  <br>
  <br>
  <br>
</div>
