@font-face {
  font-family: 'Comic Sans MS';
  src: url("Comic Sans MS.ttf") format("truetype"); 
}

@font-face {
  font-family: 'Arial';
  src: url("Arial.ttf") format("truetype");
}

@font-face {
  font-family: 'Verdana';
  src: url("Verdana.ttf") format("truetype"); 
}

@font-face {
  font-family: 'Times New Roman';
  src: url("Times New Roman.ttf") format("truetype"); 
}

@font-face {
  font-family: 'Calibri';
  src: url("Calibri W01 Regular.ttf") format("truetype"); 
}

@font-face {
  font-family: 'Roboto';
  src: url("Roboto-Regular.ttf") format("truetype"); 
}
