/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[2]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[6].rules[1].use[0]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[6].rules[1].use[1]!./projects/angular-editor-app/src/styles.scss?ngGlobalStyle ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Times+New+Roman:ital,wght@0,400;0,700;1,400;1,700&display=swap);
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[2]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[6].rules[1].use[0]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[6].rules[1].use[1]!./projects/angular-editor-app/src/styles.scss?ngGlobalStyle (1) ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap);
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[2]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[6].rules[1].use[0]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[6].rules[1].use[1]!./projects/angular-editor-app/src/styles.scss?ngGlobalStyle (2) ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Comic+Sans+MS:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap);
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[2]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[6].rules[1].use[0]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[6].rules[1].use[1]!./projects/angular-editor-app/src/styles.scss?ngGlobalStyle (3) ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap);
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[2]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[6].rules[1].use[0]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[6].rules[1].use[1]!./projects/angular-editor-app/src/styles.scss?ngGlobalStyle (4) ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* Map 'Comic Sans MS' to 'Comic Neue' */
@font-face {
  font-family: "Comic Sans MS";
  src: url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap");
  font-display: optional; /* Optionally load fonts */
}
/* Map 'Arial' to 'Arimo' */
@font-face {
  font-family: "Arial";
  src: url("https://fonts.googleapis.com/css2?family=Arimo:wght@100;300;400;700;900&display=swap");
  font-display: optional; /* Optionally load fonts */
}
@font-face {
  font-family: "RobotoSlab";
  src: url('RobotoSlab-VariableFont_wght.ttf');
}
body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  color: rgb(9, 32, 53);
  font-family: Inter var, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color emoji;
  background: rgb(243, 255, 255);
  background: linear-gradient(0deg, rgb(243, 255, 255) 0%, rgb(238, 243, 255) 100%);
}

.container {
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  width: 100%;
  padding-top: 10px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header li {
  display: inline-block;
  padding: 0 20px;
}
.header a {
  text-decoration: none;
  font-style: bold;
}
.header a:hover {
  opacity: 0.8;
}
.header .header-title {
  flex: 1;
  text-align: center;
  color: rgb(28, 124, 211);
}
.header .header-icons {
  text-align: right;
  width: 100%;
}

hr.solid {
  border: 2px solid #bbb;
}

table {
  width: 100%;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #429476;
  color: white;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}

.html-demo-content {
  background: #e9e8e8;
  padding: 20px;
  border-radius: 7px;
  border: 1px solid #b49e9e;
  line-break: anywhere;
}

/*# sourceMappingURL=styles.css.map*/